.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea/

buildSrc/build/

openme-nms/api/build/

openme-nms/spigot-v1_20_R4/build/

openme-core/build/

openme-nms/build/

openme-nms/spigot-v1_20_R1/build/

openme-nms/spigot-v1_20_R2/build/

openme-nms/spigot-v1_20_R3/build/
